In [1]:
from liquidation import *

# pd.set_option('display.max_rows', None)
# pd.set_option('display.max_columns', None)

In [2]:
liquiShareDf(liquiShareBaseDf)

,,成交,PBR,PER,負債總額(%),存貨(%),應收帳款(%),投資(%),清算價值,清算價值報酬率
代號,名稱,,,,,,,,,
8429,金麗-KY,10.45,0.31,NaN,9.64,0.06,0.34,10.80,26.684581,2.319613
5907,大洋-KY,14.30,0.38,NaN,72.50,0.77,1.40,0.10,9.494447,-0.136868
2603,長榮,102.00,0.39,0.91,34.40,0.91,2.72,5.83,146.827692,0.871333
2929,淘帝-KY,10.90,0.41,11.20,29.40,0.87,14.80,3.13,13.771220,0.642439
1340,勝悅-KY,12.45,0.42,NaN,3.17,0.56,2.58,27.40,19.650250,1.051833
...,...,...,...,...,...,...,...,...,...,...
6902,走著瞧-創,225.00,29.30,NaN,42.80,0.00,27.70,1.81,2.126365,-0.987714
4944,兆遠,9.96,29.30,NaN,97.40,1.69,2.74,2.85,-0.015909,-1.002076
5274,信驊,2470.00,31.30,51.20,48.30,7.23,8.93,1.31,27.012173,-0.985783
3529,力旺,1870.00,41.30,89.40,51.40,0.00,6.06,0.40,19.080339,-0.986736
4569,六方科-KY,NaN,NaN,NaN,8.33,11.40,11.00,0.00,NaN,NaN

In [3]:
liquidationModel(liquiShareBaseDf)

           清算價值報酬率
代號   名稱
8429 金麗-KY  232.0%
1337 再生-KY  147.2%
1340 勝悅-KY  105.2%
6405 悅城      93.2%
2603 長榮      87.1%
2609 陽明      72.4%
2929 淘帝-KY   64.2%
1325 恆大      62.8%
1315 達新      42.7%
8499 鼎炫-KY   40.3%
4552 力達-KY   36.9%
4909 新復興     35.7%
2605 新興      29.9%
2615 萬海      23.1%
5521 工信      19.7%
2443 昶虹       8.7%
2617 台航       5.8%
3252 海灣       2.8%
1452 宏益       2.6%