In [1]:
from models import *

In [2]:
today=Today()
revenue=Revenue()
seasonBalance=SeasonBalance()
liquidationInvest=LiquidationInvest(seasonBalance,today)
seasonRoe=SeasonRoe()

beTrue=BeTrue(today,liquidationInvest,revenue,seasonRoe)

In [3]:
beTrue.expectEarn()

                   清算價值  EPS(元)     最小年增率
代號   名稱
3008 大立光     899.960676  152.84 -0.203540
2357 華碩      -61.659180    3.46 -0.131769
2327 國巨       47.586240   49.41 -0.180374
2603 長榮      146.895924  112.27 -0.633499
6669 緯穎      -56.417744   86.50 -0.352436
...                 ...     ...       ...
5345 天揚             NaN   -0.71       NaN
4943 康控-KY    -0.387300  -11.25 -0.231250
4157 太景*-KY    1.094272   -0.35  3.000000
4712 南璋             NaN   -0.51       NaN
4944 兆遠       -0.015912   -2.88 -0.976744

[1790 rows x 3 columns]

In [1]:
from growth import *

In [2]:
yearEps=YearEps()

yearCAGR=YearCAGR(yearEps)

In [4]:
yearCAGR.allCAGR()

          CAGR(10年)  CAGR(5年)   CAGR(3年)  CAGR(保守)
代號   名稱
2330 台積電   0.198326  0.242640   0.433048  0.242640
2603 長榮    0.967827  1.133440  15.328496  1.133440
2609 陽明         NaN  2.137799        NaN       NaN
2317 鴻海    0.024437  0.049733   0.070617  0.049733
2454 聯發科   0.192650  0.368152   0.718777  0.368152
...             ...       ...        ...       ...
2204 中華         NaN       NaN   0.814572  0.814572
2867 三商壽        NaN       NaN        NaN       NaN
2207 和泰車        NaN       NaN        NaN       NaN
2409 友達   -0.091070       NaN   0.061181  0.061181
3481 群創   -0.036426       NaN   0.159610  0.159610

[1789 rows x 4 columns]